/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PlasmaVisual.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_16_12_2024_9_50_[Changes]/shelved.patch
/TODO.txt
/.idea/shelf/Uncommitted_changes_before_Update_at_16_12_2024_9_50__Changes_.xml
/.idea/vcs.xml
/.idea/dictionaries/vita_.xml
/root/WinErrors.lnk
/.idea/workspace.xml
